<!DOCTYPE html>
<html>

<head>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
    <div id="header">
        <h1 id="header-text">
                <a href={{ url_for("home") }}>Nomad News</a>
            </h1>
        <div>
            <span class="order-link">Order by:</span>
            <a class="order-link
                    {% if order == 'popular' %}
                        selected
                    {% endif %}
                    " href={{ url_for( "home", order="popular" ) }}>
                    Popular
                </a>
            <span class="order-link">|</span>
            <a class="order-link
                    {% if order == 'new' %}
                        selected
                    {% endif %} 
                    " href={{ url_for( "home", order="new" ) }}>
                    New
                </a>
        </div>

        <div class="division" />
        <div>

            {% if error %}
            <div class="error">
                {{ error }}
            </div>
            {% endif %} {% for each in news %}
            <h3>{{ each.title }}</h3> {% endfor %}
</body>

</html>