<!DOCTYPE html>
<html>

<head>
    <title>Nomad News | {{ order }}</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    </link>
</head>

<body>
    <header>
        <h1>
            <a href={{ url_for("home") }}>Nomad News</a>
        </h1>
        <div>
            <span>Order by:</span>
            {% if order == 'popular' %}
            <strong>
                Popular
            </strong>
            <span>|</span>
            <a href={{ url_for( "home", order="new" ) }}>
                New
            </a>
            {% elif order == "new" %}
            <a href={{ url_for( "home", order="popular" ) }}>
                Popular
            </a>
            <span>|</span>
            <strong>
                New
            </strong>
            {% endif %}
        </div>
    </header>
    <main>
        {% if error %}
        <div>{{ error }}</div>
        {% else %}
        {% for each in news %}
        <div>
            <div>
                <a href="">
                    <h3>{{ each.title }}</h3>
                </a>
                ( <a href="" target="_blank"></a> )
            </div>
            <div>comment</div>
        </div>
        <hr />
        {% endfor %}
        {% endif %}
    </main>
</body>

</html>