<!DOCTYPE html>
<html>

<head>
    <title>Remote Jobs</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
    </link>
</head>

<body>
    <section>
        <header>
            <h1>Remote Jobs</h1>
            <h3>{{ jobs|length }} {{ term }} jobs found.</h3>
            <h4><a href={{ url_for("export", term=term) }}>Export to CSV</a></h4>
            <h5><a href={{ url_for("home") }}>← Go back</a></h5>
        </header>
    </section>
    <section>
        <main>
            {% for job in jobs %}
            <div>
                <h3>{{ job.title }}</h3>
                <h4>{{ job.company }}</h4>
                <h4><a href="{{ job.url }}" target="_blank">Apply</a></h4>
            </div>
            <hr/>
            {% endfor %}
        </main>
    </section>
</body>

</html>